
<div class="review-item mb-3" id="review-{{id}}">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{reviewText}}</p>
            <p class="card-text"><strong>Rating:</strong> {{rating}}/5</p>
        </div>
        <div class="card-footer">
            <img src="{{image}}" alt="Review image" class="img-fluid">
            <div class="comments-container">
                <!-- Comments will be loaded here -->
            </div>
            <input type="text" class="form-control comment-input" placeholder="Add a comment...">
            <button class="btn btn-primary add-comment-btn" data-review-id="{{id}}">Post Comment</button>
        </div>
    </div>
</div>
{{!-- <div id="reviewPage">
    <h2>{{businessName}}: {{review.rating}}</h2>
    <p>Posted by: {{username}}</p>
    <div id="reviewDescription">
        <p>{{review.reviewText}}</p>
        {{#if review.image}}
        <img src="{{review.image}}" alt="Review Image">
        {{/if}}
        {{#each commentData}}
        <li> {{this.commentDescription}}, Posted by: {{this.username}}
            {{!-- {{#if (equals this.userId loggedInUserId)}}
            <form action="/comments/deleteComment" method="POST">
                <input type="hidden" name="commentId" value="{{this._id}}">
                <button type="submit">Delete</button>
            </form>
            {{/if}} --}}
            {{#if canDelete}}
            <form action="/comments/deleteComment/{{this._id}}" method="POST">
                <input type="hidden" name="reviewId" value="{{this.reviewId}}">
                <button type="submit">Delete</button>
            </form>
            {{/if}}
        </li>

        {{else}}
        <p>No recent comments.</p>
        {{/each}}
    </div>
    <br>
    <form action="/comments/createComment" method="POST">
        <input type="hidden" name="reviewId" value="{{review._id}}" />
        <textarea name="commentDescription" placeholder="Add a comment..."></textarea>
        <button type="submit">Post Comment</button>
    </form>
</div> --}}
