<div id="userFeed">
    <h3>My Reviews</h3>
    <ul>
        {{#each reviews}}
        <li>
            <h2>
                {{this.businessName}}:
            </h2>
            <h4>
                Ratings: {{this.rating}}
            </h4>
            {{!-- <h3>{{this.username}}</h3> --}}
            <p>{{this.description}}</p>
            {{#if this.image}}
            <img src="{{this.image}}" alt="Review Image">
            {{/if}}
            {{#each commentData}}
        <li>
            {{this.commentDescription}}, Posted by: {{this.username}}
        </li>
        {{else}}
        <p>No recent comments.</p>
        {{/each}}
        </li>
        {{else}}
        <p>No recent reviews.</p>
        {{/each}}
    </ul>
</div>