<div class="container mt-4">
    <form action="/review/updateReview/{{review._id}}" method="POST" enctype="multipart/form-data"
        name="reviewForm" class="p-4 border rounded" id="reviewForm">
        <div class="form-group">
            <label>Business:</label>
            <input type="text" class="form-control" value="{{businessName}}" readonly>
        </div>
        <div class="form-group">
            <label>Category:</label>
            <input type="text" class="form-control" value="{{categoryName}}" readonly>
        </div>

        <div class="form-group">
            <label for="ratingPoints">Select rating out of 5:</label>
            <select name="ratingPoints" id="ratingPoints" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="reviewText">Review Description:</label>
            <textarea name="reviewText" id="reviewText" class="form-control">{{review.reviewText}}</textarea>
        </div>
        <div class="form-group">
            <label for="imagePath">Update Image (optional):</label>
            <input type="file" name="imagePath" id="imagePath" class="form-control-file">
            {{#if this.image}}
            <img src="/{{this.image}}" alt="Review Image" class="img-fluid">
            {{/if}}
        </div>

        <button type="submit" class="btn btn-primary">Update Review</button>
    </form>
</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    document.getElementById('reviewForm').addEventListener('submit', function(event) {
        const reviewText = document.getElementById('reviewText').value.trim();
        const imageUpload = document.getElementById("imagePath");
        if (reviewText.length < 2 || reviewText.length > 500) {
            alert('Review description must be between 2 and 500 characters.');
            event.preventDefault(); 
        }
        if (imageUpload.files.length > 0) {
        const file = imageUpload.files[0];
        const fileType = file.type.toLowerCase();
        const validImageTypes = ["image/jpeg", "image/png", "image/jpg"];

        if (!validImageTypes.includes(fileType)) {
          alert("Only PNG, JPEG, and JPG formats are allowed.");
          event.preventDefault();
        }
      }
    });
});
</script>
